@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(200deg, #1e4a87e2,#08af35c0);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
}

.divTitle{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#filterCategorie{
  background-color: #ffffff5a;
  backdrop-filter: blur(3px);
}
.article{
  /* padding: 2%; */
  width: 50%;
  text-align: center;
  border-radius: 15px;
  z-index: 1;
  background-color: #ffffff5a;
  backdrop-filter: blur(3px);
}

.articleTrie{
  position: relative;
  top:0px;
  height: 35vh;
  width: 25vw;
  text-align: center;
  background-color: #ffffff5a;
  backdrop-filter: blur(3px);
  border-radius: 15px;
}
.divSelect{
  text-align: center;
  align-items: center;
  display: flex;
  width: 50%;
  margin: 3% 0;
}

label {
  margin-right: 15px;
  font-size: 1.1rem;
}

select {
  padding: 0.5rem 0 0.5rem 2%;
  font-size: 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
}

.img{
  max-height: 250px;
  max-width: 400px;
  margin: 5%;
}
.imgPhone{
  max-height: 150px;
  max-width: 300px;
  margin: 5%;
}
.imgLaptops{
  max-height: 150px;
  max-width: 300px;
  margin: 5%;
}
.imgFragrances{
  max-height: 150px;
  max-width: 300px;
  margin: 5%;
}
.imgSkincare{
  max-height: 150px;
  max-width: 300px;
  margin: 5%;
}
.imgGroceries{
  max-height: 150px;
  max-width: 300px;
  margin: 5%;
}
.imgHomeDecoration{
  max-height: 150px;
  max-width: 300px;
  margin: 5%;
}

#left{
  position: absolute;
  left: 200px;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right{
  position: absolute;
  right: 200px;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  height: 5rem;
  background: none;
}

p{
  font-size: 25px;
}

#cool{
  position: fixed;
  padding: 5%;
  top:0px;
  margin-top: 33vh;
  z-index: 1;
  border: solid;
  display: flex;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  text-align: center;
background-color: white;
  left : 316px;
}

.imgId{
  max-height: 250px;
  max-width: 350px;
  margin: 5%;
  margin-top: 10vh;
}

#btnClose{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  height: 50px;
  width: 50px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Cross-image.svg/640px-Cross-image.svg.png');
  background-repeat: no-repeat;
  border: none;
  background-size: 100%;
}

#gauche{
  position: absolute;
  background-image: url('/img/icon-arrow-left.svg');
  background-repeat: no-repeat;
  border: none;
  background-size: 50px;
  background-position: 50%;
  margin-top:20vh;
  width: 100px;
  height: 100px;
  padding: 50px;
  left: 200px;
  cursor: pointer;
  background-color: white;
}

#droite{
  position: absolute;
  background-image: url('/img/icon-arrow-right.svg');
  background-repeat: no-repeat;
  border: none;
  background-size: 50px;
  background-position: 50%;
  margin-top: 20vh;
  width: 100px;
  height: 100px;
  padding: 50px;
  right: 200px;
  cursor: pointer;
  background-color: white;
}
#arrow{
  position: relative;
  width: 100%;
}

#smartphones{
  margin-top: 50px;
  grid-template-columns: repeat(3,35%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem
}

#laptops{

  margin-top: 50px;
  grid-template-columns: repeat(3,35%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem
}
#fragrances{

  margin-top: 50px;
  grid-template-columns: repeat(3,35%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem
}
#skincare{

  margin-top: 50px;
  grid-template-columns: repeat(3,35%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem
}
#groceries{
  margin-top: 50px;
  grid-template-columns: repeat(3,35%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem
}
#homeDecoration{
  margin-top: 50px;
  grid-template-columns: repeat(3,35%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem
}