
h1{
  text-align: center;
}

#app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.article{
  position: absolute;
  top:0px;
  margin-top: 20vh;
  padding: 5%;
  height: 50vh;
  width: 50vw;
  text-align: center;
  border: solid;
  z-index: 1;
}
.articlePhone{
  position: relative;
  top:0px;
  padding-bottom: 10%;
  height: 25vh;
  width: 25vw;
  text-align: center;
  border: solid;
}

.img{
  max-height: 250px;
  max-width: 400px;
  margin: 5%;
}
.imgPhone{
  max-height: 150px;
  max-width: 300px;
  margin: 5%;
}

#left{
  position: absolute;
  background-image: url('/img/icon-arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50%;
  margin-top:40vh;
  width: 100px;
  height: 100px;
  padding: 50px;
  left: 200px;
  cursor: pointer;
  border: none;
  background-color: white;
}

#right{
  position: absolute;
  background-image: url('/img/icon-arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50%;
  margin-top: 40vh;
  width: 100px;
  height: 100px;
  padding: 50px;
  right: 200px;
  cursor: pointer;
  border: none;
  background-color: white;
}

p{
  font-size: 25px;
}

#cool{
  position: absolute;
  padding: 5%;
  top:0px;
  margin-top: 20vh;
  z-index: 1;
  border: solid;
  display: flex;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  text-align: center;
background-color: white;
  left : 316px;
}

.imgId{
  max-height: 250px;
  max-width: 350px;
  margin: 5%;
  margin-top: 10vh;
}

#btnClose{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  height: 50px;
  width: 50px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Cross-image.svg/640px-Cross-image.svg.png');
  background-repeat: no-repeat;
  border: none;
  background-size: 100%;
}

#gauche{
  position: absolute;
  background-image: url('/img/icon-arrow-left.svg');
  background-repeat: no-repeat;
  border: none;
  background-size: 50px;
  background-position: 50%;
  margin-top:20vh;
  width: 100px;
  height: 100px;
  padding: 50px;
  left: 200px;
  cursor: pointer;
  background-color: white;
}

#droite{
  position: absolute;
  background-image: url('/img/icon-arrow-right.svg');
  background-repeat: no-repeat;
  border: none;
  background-size: 50px;
  background-position: 50%;
  margin-top: 20vh;
  width: 100px;
  height: 100px;
  padding: 50px;
  right: 200px;
  cursor: pointer;
  background-color: white;
}
#arrow{
  position: relative;
  width: 100vw;
  height: 50vh;
}
#smartphones{

  margin: 150px 0;
  grid-template-columns: repeat(3,35%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}